.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 20px;
}

.flight_container {
  min-width: 70%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.seats_container {
  min-width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 10px;
}

.input_container {
  min-width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 10px;
}

.seats_container > select {
  overflow: hidden;
}

.button_container {
  margin-top: 10px;
}

.button_container > button {
  padding: 10px 20px;
}

.table {
  min-width: 70%;
  margin-top: 10px;
}
